{% extends 'layoutAdmin.html.twig' %}

{% block title %}New Creneau{% endblock %}

{% block content %}
    <h1>Create new Creneau</h1>

    {{ include('creneau/_form.html.twig') }}

    <a href="{{ path('creneau_new') }}">back to list</a>
{% endblock %}
